<div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
        <div class="col-lg-4 ml-auto">
            <p class="lead">K-POP becomes more and more popular nowadays, that's why I have decided to let you know a little bit more about it. Here are the some of the most famous groups in korean music.</p>
        </div>
        <div class="col-lg-4 mr-auto">
            <p class="lead">If you have not ever heared about such kind of music, I suggest you to try to listen it. I hope you will like it! </p>
        </div>
    </div>

</div>