<div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
    <h1 class="text-uppercase mb-0">K-POP: Most Popular groups</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">BTS - EXO - RED VELVET - SHINEE - BLACKPINK - MONSTA X</h2>
</div>