@model CarpentyStore2.Domain.Entities.Land
    <div class="ViewGood">

        <p class="body-content" id="defenition" title="Тип лестницы" >
            @Model.TypeOfLand 
            <div class="item">
                @if (Model.ImageData != null)
            {
                    <div style="margin-right: 20px;">
                        <img class="borderImage"  width="200" height="300" 
                             src="@Url.Action("LandGetImage", "Home",
new { Model.LandId})" />
                    </div>
                }
            </div>
            <label>Дерево:</label>   <input type="text" id="idForPrice" title="Вид дерево" 
                                            readonly value=@Model.Tree />
            Цена:  <input type="text" id="idForPrice"  title="Цена за кв.м"
                          readonly value=@Model.Price.ToString("c") /> &#8381;
        </p>
    </div>
