@{ 
    ViewBag.Title = "Наши контакты";
}    
<h2>Наши контакы</h2>
<div class="TextTree">
       Вы можете с нами связаться по номеру:8963-111-11-11. <br />
       Либо можете прислать сообщение на почту: IvanovIvan@mail.ru.
    </div>
